In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('E:\python practice\hate_speech_dataset.csv')
df

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [3]:
df['hate_speech'].replace({2:0,3:1,4:0,5:1,6:1,7:1},inplace=True)
#df["column1"].replace({"a": "x", "b": "y"}, inplace=True)
df.head(90)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
85,85,3,0,1,0,0,"""@Blackman38Tide: @WhaleLookyHere @HowdyDowdy1..."
86,87,3,0,3,0,1,"""@BrokenPiecesmsc: @ItsNotAdam faggot read my ..."
87,88,3,0,3,0,1,"""@BrosConfessions: This bitch was so ungratefu..."
88,89,3,0,3,0,1,"""@CASHandBOOBIES: I been kidnapped yo bitch"""
89,90,3,1,0,0,0,"""@CB_Baby24: @white_thunduh alsarabsss"" hes a ..."

In [4]:
x=df['tweet']
y=df['hate_speech']

In [5]:
#Data cleaning and preprocessing
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Amjad Net
[nltk_data]     Cafe\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []
for i in range(0, len(df)):
    tweets = re.sub('[^-9A-Za-z]', ' ', df['tweet'][i])
    tweets = tweets.lower()
    tweets = tweets.split()
    
    tweets = [ps.stem(word) for word in tweets if not word in stopwords.words('english')]
    tweets = ' '.join(tweets)
    corpus.append(tweets)

In [7]:
#create bag of words model

from sklearn.feature_extraction.text import CountVectorizer
    
cv = CountVectorizer(max_features =5000)
x=cv.fit_transform(corpus).toarray()
y=df['hate_speech']

#xtest_count=cv.transform(xtest)
#xtrain_count.toarray()

In [8]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20)

In [9]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(solver='lbfgs',max_iter=100)
lr.fit(xtrain,ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [10]:
y_pred=lr.predict(xtest)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [11]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [12]:
#performance
lr.score(xtest,ytest)

0.8369981843857172

In [13]:
cm=confusion_matrix(ytest,y_pred)

In [14]:
cm

array([[4052,  132],
       [ 676,   97]], dtype=int64)

In [15]:
accu_score=accuracy_score(ytest,y_pred)

In [16]:
accu_score

0.8369981843857172