In [1]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\Amjad Net
[nltk_data]     Cafe\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('E:\python practice\IMDB Dataset.csv')
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer=SentimentIntensityAnalyzer()

In [7]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [8]:
df.count()

review       50000
sentiment    50000
dtype: int64

In [14]:
df['sentiment'].value_counts()

negative    25000
positive    25000
Name: sentiment, dtype: int64

In [18]:
analyzer.polarity_scores(df.loc[500]['review'])

{'neg': 0.096, 'neu': 0.686, 'pos': 0.219, 'compound': 0.9869}